<div class="wrapper">
  <div class="header-v5  header-sticky">

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{"" | prepend: site.baseurl}}">
            <img id="logo-header" src="{{"/images/landing/logo.png" | prepend: site.baseurl}}" alt="Logo">
          </a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">

            <!-- Services -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainings</a>
              <ul class="dropdown-menu">
                <li><a href="{{"/services/git" | prepend: site.baseurl}}">Mastering GIT</a></li>
                <li><a href="{{"/services/git" | prepend: site.baseurl}}">Jira</a></li>
                </ul>
            </li>

         

              <!-- Trainers -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trainers</a>
                <ul class="dropdown-menu">
                  <li><a href="{{"/trainers/parvez" | prepend: site.baseurl}}">Parvez Misarwala</a></li>
                  <li><a href="{{"/trainers/shakir" | prepend: site.baseurl}}">Senior Liferay & Java Archiect</a></li>
                </ul>
              </li>

              <!-- About Us -->
              <li><a href="{{"/about-us" | prepend: site.baseurl}}">About Us</a></li>

              <!-- Contact Us -->
              <li><a href="{{"/contact-us" | prepend: site.baseurl}}">Contact Us</a></li>

            </ul>
          </div>

        </div>
      </div>
      <!-- End of Navbar -->

    </div>
  </div>
